@model List<Asset>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>List of assets</h1>

@*Displaying the contents of the ViewData object*@
@ViewData["AssetInfo"]
<div>
    <p>
        <strong>White:</strong> more than six months left.<br />
        <strong>Yellow:</strong> less than six months left.<br />
        <strong>Red:</strong> less than three months left.<br />
        <strong>Blue:</strong> three years has already passed.
    </p>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Office</th>
        <th>Purchase Date</th>
        <th>Price in USD</th>
        <th>Currency</th>
        <th>Local Price</th>
    </tr>
    </thead>
    <tbody>
@foreach(var item in Model){
            string colorChoice = Asset.GetColor(item); // color depending on age of asset
            double localPrice = Asset.LocalPriceToday(item); // current rate from floatrate
            
            <tr class="@colorChoice">
    <td>
        @item.Type 
    </td>
    <td>
        @item.Brand 
    </td>
    <td>
        @item.Model 
    </td>
    <td>
        @item.Office.Country 
    </td>
    <td>
        @item.PurchaseDate.ToShortDateString() 
    </td>
    <td>
        @item.Price 
    </td>
    <td>
        @item.Office.Currency
        </td>
        <td>@localPrice</td>
    <td>
        <a  asp-action="EditAsset" asp-route-id="@item.Id">Edit</a>
    </td>
    <td>
        <a asp-action="DeleteAsset" asp-route-id="@item.Id">Delete</a>
    </td>
    </tr>

}
</tbody>
<tfoot>
    <tr><td><a asp-action="AddAsset" >Add an asset</a></td></tr>
</tfoot>
</table>