@model List<Asset>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>List of our assets</h1>

@*Displaying the contents of the ViewData object*@
@ViewData["AssetInfo"]

<table class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Office</th>
        <th>Purchase Date</th>
        <th>Price in USD</th>
        <th>Currency</th>
    </tr>
    </thead>
    <tbody>
@foreach(var item in Model){
            string colorChoice = "table-light";
            var today = DateTime.Now;
            var years = today.Year - item.PurchaseDate.Year;
            var months = today.Month - item.PurchaseDate.Month;
            var days = today.Day - item.PurchaseDate.Day;
            if (years == 3)
            {
                if ((months == -3 && days > 0) || months > -3)
                {
                    colorChoice = "table-danger";
                }
                else if ((months == -6 && days > 0) || months > -6)
                {
                    colorChoice = "table-warning";
                }
            }
            else if (years > 3) { colorChoice = "table-info"; }
            
            <tr class="@colorChoice">
    <td>
        @item.Type 
    </td>
    <td>
        @item.Brand 
    </td>
    <td>
        @item.Model 
    </td>
    <td>
        @item.Office.Country 
    </td>
    <td>
        @item.PurchaseDate.ToShortDateString() 
    </td>
    <td>
        @item.Price 
    </td>
    <td>
        @item.Office.Currency
        </td>
    <td>
        <a  asp-action="EditAsset" asp-route-id="@item.Id">Edit</a>
    </td>
    <td>
        <a asp-action="DeleteAsset" asp-route-id="@item.Id">Delete</a>
    </td>
    </tr>

}
</tbody>
<tfoot>
    <tr><td><a asp-action="AddAsset" >Add an asset</a></td></tr>
</tfoot>
</table>